[Service]
Environment="TWILIO_SID=ABCDEFGHIJKL123456789"
Environment="TWILIO_TOKEN=ZYXWVUTSRQPONM987654321"
Environment="TWILIO_SRC_NUM=+15034206969"
Environment="TWILIO_DST_NUM=+13035552600"
Environment="PYPINGMON_NUM_PINGS=30"
Environment="PYPINGMON_WATCH_HOST=example.com"
